

{% extends "base.html" %}

{% block content %}
<h1>Transactions for {{ bank_user.email }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ "${:,.2f}".format(transaction.amount) }}</td>
            <td>{{ transaction.category }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('bank.index') }}" class="btn btn-primary">Back to Accounts</a>
{% endblock %}
